body {
 margin: 0;
 font-family: Arial, sans-serif;
 background: #f4f4f4;
 padding: 10px;
}
.counter {
 width: 350px;
 margin: 100px auto;
 padding: 30px;
 text-align: center;
 background: white;
 border-radius: 12px;
}
.number {
 font-size: 60px;
 font-weight: bold;
 margin: 20px;
}
button {
 padding: 12px 20px;
 margin: 5px;
 border: none;
 border-radius: 6px;
 cursor: pointer;
}